# Database Settings (Prisma & PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres123@localhost:5432/gis_db?schema=public"
DB_USER=postgres
DB_PASSWORD=postgres123
DB_NAME=gis_db
DB_PORT=5432

# Redis & PgAdmin
REDIS_PORT=6379
PGADMIN_PORT=5050
PGADMIN_EMAIL=admin@gis.com
PGADMIN_PASSWORD=admin123

# Node.js API Port
PORT=3000
