PORT=3000
DATABASE_URL="postgresql://genckart_user:genckart_password@localhost:5432/ortahisar_genckart_db?schema=public"
NODE_ENV=development
AUTH_MODE="MOCK" # Canlıya geçince "REAL" yapılacak
JWT_SECRET="ortahisar_genc_kart_super_secret_jwt_key_2026"
